@import url("https://fonts.googleapis.com/css?family=Merienda|Roboto+Slab");

body {
  font-family: "Roboto Slab", serif;
  font-size: 1.75em;
}
h2 {
  font-family: "Merienda", cursive;
  color: rgb(92, 165, 92);
  cursor: pointer;
}

li:nth-child(1) {
  color: rgb(73, 207, 252);
}

li:nth-child(2) {
  color: rgb(209, 135, 135);
  cursor: pointer;
}

li:nth-child(3) {
  color: rgb(92, 165, 92);
}

#pet-form {
  display: grid;
  justify-items: center;
  width: 100%;
  margin-bottom: 2em;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 450px));
  grid-gap: 1.5em;
  padding-left: 40px;
}

.results > p {
  place-items: center;
}

.card {
  -webkit-box-shadow: 14px 10px 32px -7px rgba(96, 248, 215, 0.76);
  -moz-box-shadow: 14px 10px 32px -7px rgba(96, 248, 215, 0.76);
  box-shadow: 14px 10px 32px -7px rgba(96, 248, 215, 0.76);
  border: none;
  border-radius: 25px;
}

.card:hover {
  background: rgb(230, 231, 230);
  transform: scale(1.03);
  transition: all 0.6s ease-in;
}

.card .content {
  padding: 10px;
  font-size: 14px;
}

/* rgba(168, 255, 180, 0.76); */
